body {
	text-align: center;
	font: status-bar;
	background: #061619;
    margin: 0;
}

#allcontent {
    padding-top: 60px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

nav {
	background:#067782;
	padding-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	}

ul {
    list-style-type: none;
    margin: 5px;
}

nav li {
	display: inline;
	padding: 15px;
}

nav li.selected {
    background-color: #0C2229;
    box-shadow: 3px 0px 5px #0C2229; /****/
}

nav a {
	color:#e2e9c0;
	font-size: 14pt;
    text-decoration: none;
}

nav li:hover a {
    color: black;
}
nav li:hover, button:hover {
    cursor: pointer;
    background-color: #1CB1BF;
    box-shadow: 3px 0px 5px #0C2229;
}


.home {
	background: #067782;
	font-size: large;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

button {
    background: #067782;
    padding: 15px;
    margin: 10px;
    font-size: 14pt;
    border-width: 0;
    /*box-shadow: 5px 5px 0 #532831;*/
    box-shadow: 5px 5px 5px black;   
}

.list {
    width: 45%;
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.list ul {
    padding: 0;
}

.list li {
    font-size: 14pt;
    display: block;
    margin-bottom: 10px;
    background: #1CB1BF;
    padding: 10px;
}

.list h2 {
    background: #067782;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}

.list li:last-child:hover {
    box-shadow: 5px 5px 5px black;
    color: #e2e9c0;
	cursor: pointer;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Для старых браузеров */
dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
    background-color: #1CB1BF;
    border: none;
    top: 30%;
    width: 40%;
    box-shadow: 5px 5px 0 #532831;
}

dialog input {
    border: none;
    text-align: center;
    padding: 10px;
}

.input_data {
    background-color: #e2e9c0;
    width: 80%;
    margin-bottom: 15px;
}

.dialog-button {
    background-color: #067782;
    margin: 5px;
    width: 40%;
}

.dialog-button:hover {
    box-shadow: 2px 2px 5px #061619;
}

dialog h3 {
    margin: 0 0 20px 0;
}


/* * delete icon * */
.del_a {
    position: relative;
    display: none;
    margin: 3px 3px;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    float: right;
}

.list li:hover .del_a {
    display: initial;
}

.del_a:hover {
  opacity: 1;
}
.del_a:before, .del_a:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #0C2229;
}
.del_a:before {
  transform: rotate(45deg);
}
.del_a:after {
  transform: rotate(-45deg);
}



